# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = r"C:\Users\micha\Desktop\Data_Analysis_Bootcamp\Module_6\Vacation_Search\WeatherPy_vacation.csv"
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Airai,TL,61.99,light rain,-8.9266,125.4092,NaN
1,2,Hithadhoo,MV,82.08,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,3,Banjar,ID,78.62,overcast clouds,-8.1900,114.9675,The Hamsa Resort
3,4,Takoradi,GH,84.81,scattered clouds,4.8845,-1.7554,Raybow International Hotel
4,5,Yanam,IN,75.02,few clouds,16.7333,82.2167,The Regency Hotel
5,7,Nouadhibou,MR,73.38,clear sky,20.9310,-17.0347,El Medina
6,8,Barcelos,PT,53.74,light rain,41.5388,-8.6151,Hotel Do Terço
7,11,Rikitea,PF,73.94,overcast clouds,-23.1203,-134.9692,People ThankYou
8,12,Shahapur,IN,85.14,clear sky,19.4500,73.3333,OYO 68690 Hotel New Food Hub
9,13,Victoria,HK,76.95,broken clouds,22.2855,114.1577,Mini Central

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
vacation_df.dropna()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,2,Hithadhoo,MV,82.08,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,3,Banjar,ID,78.62,overcast clouds,-8.1900,114.9675,The Hamsa Resort
3,4,Takoradi,GH,84.81,scattered clouds,4.8845,-1.7554,Raybow International Hotel
4,5,Yanam,IN,75.02,few clouds,16.7333,82.2167,The Regency Hotel
5,7,Nouadhibou,MR,73.38,clear sky,20.9310,-17.0347,El Medina
...,...,...,...,...,...,...,...,...
436,709,Sai Buri,TH,79.97,few clouds,6.7013,101.6168,สวนป่ารีสอร์ท
437,711,Bubaque,GW,81.12,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
438,716,Balma,FR,56.68,clear sky,43.6111,1.4994,Villa Ivoire
439,717,Manggar,ID,80.76,overcast clouds,-2.8833,108.2667,Guest Hotel
440,720,Cabedelo,BR,83.07,overcast clouds,-6.9811,-34.8339,Pousada Camboinha

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Hastings"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Hastings"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Scarborough"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Llangefni"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Newport"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [8]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [9]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode=
                                        "DRIVING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [10]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,407,Hastings,GB,56.39,overcast clouds,50.8552,0.5729,Zanzibar Hotel
1,26,Scarborough,GB,51.37,overcast clouds,54.2797,-0.4044,The Grand Hotel Scarborough
2,297,Llangefni,GB,53.73,mist,53.2556,-4.3106,Bull Hotel
3,25,Newport,GB,53.71,overcast clouds,51.5877,-2.9984,ibis budget Newport

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [11]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))